@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

html,
body {
	overflow-x: hidden;
}

body {
  font-family: 'Raleway', Arial, sans-serif;
  padding-top: 50px;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
